/vendor/
/node_modules/
/.idea/
/.vscode/
.env.local
/docker/mysql/
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
